/* Here you please your custome base style */

[x-cloak] {
    display: none !important;
}

@media only screen and (min-width: 1024px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        border: 2px solid #fff;
    }

    .dark ::-webkit-scrollbar-thumb {
        background: #374151;
        border-radius: 50px;
        border: 2px solid #111827;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #374151;
    }
}